@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" , style = "text-decoration:none" }))
    {
        @Html.AntiForgeryToken()
       
<ul class="nav navbar-nav navbar-right">
    <button class="login-btn" style="width:auto;" >  
        @Html.ActionLink("Welcom! " + User.Identity.GetUserName() + "", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style = "text-decoration:none" })
    </button>
    <button class="login-btn" style="width:auto;">
    <a href="javascript:document.getElementById('logoutForm').submit()" style="text-decoration:none">Log off</a>
    </button>
</ul>
       
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right" >
            <button class="login-btn" style="width:auto">
                <strong>
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "text-decoration:none" })
                </strong>
            </button>
            <button class="login-btn" style="width:auto;">
                <strong>
                    @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "text-decoration:none" })
                </strong>
            </button>
        </ul>
    }
