
@{
    ViewBag.Title = "Bilochistan";
    Layout = null;
}

<html>
<head>
    <title>Travel Bilochistan with us</title>
    <link href="~/Content/Mycssfile/Bilochistan.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
    <ul class="nav navbar-nav navbar-right">
        <strong><a href='/Home/MasterPageBooking'>Back</a> </strong>
    </ul>

    <section class="header">


        <div>
            <div class="container">

                <img src="~/images/icon/icons8-airplane-48.png">
                <h1 class="head"><b>Travel Bilochistan With Us</b></h1>
                <nav>

                </nav>
            </div>
            <div class="center-header">
                <img src="~/images/icon/icons8-airplane-48.png" class="icon1">
                <h1 class="head11"><b>Travel Bilochistan With Us</b></h1>
                <p><span><b>Bilochistan</b></span> is so beautiful Land of desert,<span><b>Let's Travel Bilochistan</b></span></p>
            </div>
        </div>
    </section>
    <!--Center section start-->
    <section id="service">
        <div class="service containerh1">
            <div class="service-top">
                <h1 class="head12"><b>Bilochistan City</b></h1>
                <p>


                    Balochistan shares borders with Punjab and the Khyber Pakhtunkhwa to the northeast, Sindh to the east and southeast, the Arabian Sea to the south, Iran to the west and Afghanistan to the north and northwest.
                    Balochistan is one of the four provinces of Pakistan. It is the largest province in terms of land area,
                    forming the southwestern region of the country,
                    but is the least populated. Its provincial capital and largest city is Quetta.

                    The name "Balochistan" means "the land of the Baloch". Largely underdeveloped, its provincial economy is dominated by natural resources, especially its natural gas fields, estimated to have sufficient capacity to supply Pakistan's demands over the medium to long term.
                    Aside from Quetta, the second-largest city of the province is Turbat in the south,
                    while another area of major economic importance is Gwadar Port on the Arabian Sea.

                </p>
            </div>
        </div>
    </section>


    <!--Enter of center section-->
    <!-- start of destination section-->

    <section class="features">

        <h1><span style="font-family: serif;"><i>Rawalpind </i> <span style="color:crimson;font-size:30px;"><i>Destination</i></span></span></h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="~/images/allcity/rawalpindi/masjid.jpg">

                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-half-o"></i>

                            </div>
                        </div>
                        <div class="feature-details">
                            <h4>Masjid Gulshan Dadan Khan</h4>
                            <p>
                                Masjid Gulshan Dadan Khan is a Sacred & Religious Sites place is located in Rawalpindi, Punjab Province.
                                The address of Masjid Gulshan Dadan Khan is Shamsabad, Gulshan Dadan Khan, Rawalpindi Pakistan.
                                The latitude of Masjid Gulshan Dadan Khan is 1, and the longitude is 1. Masjid Gulshan Dadan Khan is located in Rawalpindi,
                                Pakistan with the gps coordinates of 1° 00' 0.0" N and 1° 00' 0.0" E.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="~/images/allcity/rawalpindi/place2.jpg">

                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>
                        </div>
                        <div class="feature-details">
                            <h4>Poonch House</h4>
                            <p>
                                he 150-year-old Poonch House standing in the heart of Saddar on Adam Jee Road,
                                Rawalpindi has served as a rest house for kings and princes, an office and
                                home for prime ministers of Azad Jammu and Kashmir (AJK) and even housed military courts.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="~/images/allcity/rawalpindi/signi.jfif">

                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>

                            </div>
                        </div>
                        <div class="feature-details">
                            <h4>Sangni Fort</h4>
                            <p>
                                angni Fort also known as Sangani Killa is a
                                fort of Sikh Period near the village Takal in Kallar Syedan Tehsil,
                                Rawalpindi District, in Punjab, Pakistan.
                                The fort was probably built in the Sikh Period (1799–1849). This area came under Sandhawalia Jat ruler Maharaja Ranjit Singh in 1814. It was built to control the area and to facilitate tax collection. The British made this area part of Bewal.
                                Gradually the fort lost its importance and became obscure.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--End of destination sectin-->

</body>
</html>

