
@{
    ViewBag.Title = "FairyMeadow";
    Layout = null;
}

<html>
<head>
    <title>Travel Fairy Meadows valleys with us</title>
    <link rel="stylesheet" href="~/Content/Mycss/FairyMeadows.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <section class="header">
        <div>
            <div class="container">
                <img src="~/images/icon/icons8-airplane-48.png">
                <h1 class="head"><b>Travel FairMedows With Us</b></h1>
            </div>
            <div class="center-header">
                <img src="~/images/icon/icons8-airplane-48.png" class="icon1">
                <h1 class="head11"><b>Travel FairMedows With Us</b></h1>
                <p><span><b>Fairy Meadows Valley</b></span> is so Valley,<span><b>Let's Fairy Meadows Valley</b></span></p>
            </div>
        </div>
    </section>
    <!--Center section start-->
    <section id="service">
        <div class="service containerh1">
            <div class="service-top">
                <h1 class="head12"><b>FairMedows Valley</b></h1>
                <p>
                    Fairy Meadows is a great blessing of Allah to Pakistan. Fairy Meadows is also known as "Heaven on Earth". It is located at the base of Nanga Parbat. Fairy Meadow is the heart of Gilgit Baltistan. The government of Pakistan has declared the Fairy Meadows is the national park of Pakistan. Fairy Meadow is a lush green highland with a breathtaking view.

                    It is a very pleasant and calm place.Fairy Meadows is the place which can be considered as one of the most beautiful in the northern mountain region. Fairy Meadows is one of the best known Pakistan adventure destinations. Fairy Meadows cottages are famous for camping.

                    Many tourists visit Fairy Meadows at the start of April till the end of September.From Raikot Bridge take a jeep to Fairy point then hike to Fairy Meadows. Hiking in Fairy meadow is difficult in winters due to snowfall. Cricket, Volleyball and football tournaments are also held in Fairy Meadows.

                    It is the best place for nature lovers, photographers, hikers, and wildlife researchers. Fairy Meadows road is a dangerous and amazing high mountain track. Many hotels and guest houses are available for tourists like Fairy Meadows Hotel, Shangrila Resort Raikot and many others in Fairy Meadows Tour.

                </p>
            </div>
            </div>
            </section>


            <!--Enter of center section-->
            <!-- start of destination section-->
            <!--
            <section class="features">

               <h1><span style="font-family: serif;"><i>Fairy Meadows Valley</i> <span style="color:crimson;font-size:30px;"><i>Destination</i></span></span></h1>
               <div class="container">
                   <div class="row">
                       <div class="col-md-4">
                           <div class="feature-box">
                               <div class="feature-img">
                                   <img src=".">

                                <div class="rating">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star-half-o"></i>
                                   <i class="fa fa-star-half-o"></i>

                                </div>
                               </div>
                               <div class="feature-details">
                                   <h4>4- Do Kala Chasma, Kumrat Valley, KPK</h4>
                                   <p> Do Kala Chashma is famous for its gushing river flows in between the black mountains.
                                       This is also the reason for its name as “Do Kala Chashma.”
                                       The magnificent beauty of this place attracts tourists. It takes approximately 1.5 hours’
                                        drive to reach Kumrat as the road is rough, so better to rent a jeep and a local driver.
                                       </p>
                               </div>
                           </div>
                           </div>
                           <div class="col-md-4">
                               <div class="feature-box">
                               <div class="feature-img">
                                   <img src="./kumrat/2- Wooden Canals, Thall, Kumrat Valley, KPK.jpg">

                                <div class="rating">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>

                                </div>
                               </div>
                               <div class="feature-details">
                                   <h4>
                                       Wooden Canals, Thall, Kumrat Valley</h4>
                                   <p>
                                       The village at the entrance to Kumrat Valley is named Thall. It's a small village in Upper Dir district, with very basic amenities.
                                       I am going to with you the complete information about the Valley and how ... Thall Mosque; Wooden Canal Thalls; Kumrat Forest; Kala Chasmah.

                                       </p>
                               </div>
                           </div>

                           </div>
                               <div class="col-md-4">
                                   <div class="feature-box">
                                       <div class="feature-img">
                                           <img src="./kumrat/18- Forest Kumrat Valley,Panjkora River Upper Dir, KPKm.jpg">

                                        <div class="rating">
                                           <i class="fa fa-star"></i>
                                           <i class="fa fa-star"></i>
                                           <i class="fa fa-star"></i>
                                           <i class="fa fa-star"></i>
                                           <i class="fa fa-star-half-o"></i>

                                        </div>
                                       </div>
                                       <div class="feature-details">
                                           <h4>Forest Kumrat Valley,Panjkora River, Kumrat Valley</h4>
                                           <p>The  Panjkora River is a river in the Khyber Pakhtunkhwa province of the northwest of Pakistan.
                                               The river runs through the mountainous northern part of the province, and forms the Kumrat Valley.
                                                It passes from Dir, Timergara and meet at Chakdara with Swat river. It generally characterized by having steep slopes on either side of the riverbank covered in thick forests.
                                               The river has a large catchment area, making the river susceptible to significant flooding -
                                                most notably during the 2010 floods that occurred throughout much of Pakistan.
                                               </p>

                                       </div>
                                   </div>
                       </div>
                   </div>
               </div>
               </section>
               -->
            <!--End of destination section-->

</body>
</html>
