
@{
    ViewBag.Title = "Faisalabad";
    Layout = null;
}

<html>
<head>
    <title>Travel faslabad city with us</title>
    <link href="~/Content/Mycss/faslabad.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <ul class="nav navbar-nav navbar-right">            
     <strong><a href='/Home/MasterPageBooking'>Back</a> </strong>
    </ul>
    <section class="header">
        <div>
            <div class="container">
                <img src="~/images/icon/icons8-airplane-48.png">
                <h1 class="head"><b>Travel Faslabad With Us</b></h1>
            </div>
            <div class="center-header">
                <img src="~/images/icon/icons8-airplane-48.png" class="icon1">
                <h1 class="head11"><b>Travel Faslabad With Us</b></h1>
                <p><span><b>Faslabad</b></span> is so beautiful City,<span><b>Let's Travel Faslabad City</b></span></p>
            </div>
        </div>
    </section>
    <!--Center section start-->
    <section id="service">
        <div class="service containerh1">
            <div class="service-top">
                <h1 class="head12"><b>Faslabad City</b></h1>
                <p>
                    One of the most interesting facts about Faisalabad is its name. The city was initially called  Lyallpur after Sir James Broadwood Lyall during the British Raj.
                    One of the first planned cities of British India, it sided with Pakistan in 1947. The city was later
                    renamed to Faisalabad to honor King Faisal of Saudi Arabia by the Government of Pakistan in 1979.

                    The reason Faisalabad is called Manchester of Pakistan because it’s the biggest textile city of Pakistan and all the industries here related to textiles and same is Manchester in UK so these cities are also named as Twin cities.



                    After Lahore, Faisalabad is famous for its food. The most common snack item samosas of Faisalabad are considered the best in Pakistan.
                    Desi foods and snacks like dahi bhally, gol gappy are the specialities . Biryani and pulao are also very well-known.
                    Moreover no city can boast of a better Dal Chawal serving than Faisalabad. It’s one of the favorite foods here.
                    The parathas available at Ghanta Ghar are very famous and a large crowd comes to attend all night long.
                    They come in different fillings such as potatoes, mixed vegetable, chicken etc. As far as drinks are concerned Rabri,
                    Sugar cane rusk, limo pani and lassi are the most favorite drink of the people of Faisalabad. Lassi is being liked by most Punjabis.



                </p>
            </div>
            </section>


            <!--Enter of center section-->
            <!-- start of destination section-->
            <section class="features">

                <h1><span style="font-family: serif;font-size: 50px;"><i>Faslabad </i> <span style="color:green;font-size:50px;">Destination</span></span></h1>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/faslabad/Gumti Water Fountain.jfif">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-half-o"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Gumti Water Fountain</h4>
                                    <p>
                                        The Gumti Water Fountain is a monument in Faisalabad, Pakistan preserved from the British Raj era. It was built during the early nineteenth century and was a general meeting place of the city folk for local town meetings.

                                        Today the structure still exists and has been turned into a roundabout for traffic with the water fountain still working at the center
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/faslabad/download.jfif">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Clock Tower</h4>
                                    <p>
                                        The Faisalabad Clock Tower is a clock tower in Faisalabad, Punjab, Pakistan, and
                                        is one of the oldest monuments still standing in its original state from the period of the British Raj.
                                        It was built in 1905 by the British, when they ruled much of the South Asia during the nineteenth century.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/faslabad/ldlfjdfl.jfif">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Sir Charles James Lyall Monument</h4>
                                    <p>
                                        Charles James Lyall was born in London on 9 March 1845.[2] He was the eldest son of a banker, also called Charles, and his wife Harriet (née Matheson).
                                        Educated initially at King's College School and then King's College London, in 1863
                                        Lyall went on to study Greats at Balliol College, Oxford, from which he graduated in 1867 with a BA degree.
                                        He had already come first in the 1865 competitive examination for appointments
                                        in the Indian Civil Service, and after graduation he left England for India. He arrived
                                        there on 4 December 1867 and was appointed assistant magistrate and collector in the North-Western Provinces.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--End of destination sectin-->

</body>

