@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<!--start of header section-->
<section class="header">
    <div>
        <div class="container">
            <img src="~/images/icon/icons8-airplane-48.png">
            <button class="button-btn btn-info" style="width:auto;">
                @Html.Partial("_LoginPartial")
            </button>
            <h1 class="head"><b>Travel Pakistan With Us</b></h1>
        </div>
        <div class="center-header">
            <h1 class="head"><b>Travel Pak With Us</b></h1>
            <p><span><b>Pakistan</b></span> is so Beautiful Country.<span><b>I Love Pakistan</b></span></p>
        </div>
       
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter City/Valley of pakistan"
                       value="" id="sear" onchange="openend()">
                <div class="input-group-append">
                    <button type="submit" class="input-group-text" onclick="openend()"><b>Search</b></button>

                </div>
            </div>




    </div>
    <script>
        function openend() {
            var x = document.getElementById("sear").value;

            if (x === "Lahore") {
                window.open("~/Views/Home/Lahore.cshtml");
            }
          
            if (x === "lahore") {
                window.open("./allcity/Lahore.html");
            }


            if (x === "karachi") {
                window.open("./allcity/karachi.html");
            }
            if (x === "Karachi") {
                window.open("./allcity/karachi.html");
            }
            if (x === "islamabad") {
                window.open("./allcity/islamabad.html");
            }
            if (x === "Islamabad") {
                window.open("./allcity/islamabad.html");
            }
            if (x === "Murree") {
                window.open("./allcity/murree.html");
            }
            if (x === "murree") {
                window.open("./allcity/murree.html");
            }
            if (x === "kashmir") {
                window.open("./allcity/kashmir.html");
            }
            if (x === "Kashmir") {
                window.open("./allcity/kashmir.html");
            }
            if (x === "swat") {
                window.open("./allcity/swat.html");
            }
            if (x === "Swat") {
                window.open("./allcity/swat.html");
            }
            if (x === "kalam") {
                window.open("./allcity/kalam.html");
            }
            if (x === "Kalam") {
                window.open("./allcity/kalam.html");
            }
            if (x === "skardu") {
                window.open("./allcity/skardu.html");
            }
            if (x === "Skardu") {
                window.open("./allcity/skardu.html");
            }
            if (x === "FairyMedows") {
                window.open("./allcity/FairyMeadows.html");
            }
            if (x === "Fairymedows") {
                window.open("./allcity/FairyMeadows.html");
            }
            if (x === "fairyMedows") {
                window.open("./allcity/FairyMeadows.html");
            }
            if (x === "fairymedows") {
                window.open("./allcity/FairyMeadows.html");
            }
            if (x === "faslabad") {
                window.open("./allcity/faslabad.html");
            }
            if (x === "Faslabad") {
                window.open("./allcity/faslabad.html");
            }
            if (x === "fairyMedows") {
                window.open("./allcity/FairyMeadows.html");
            }
            if (x === "fairymedows") {
                window.open("./allcity/FairyMeadows.html");
            }
            if (x === "Sailkot") {
                window.open("./allcity/sailkot.html");
            }
            if (x === "sailkot") {
                window.open("./allcity/sailkot.html");
            }
            if (x === "rawalpindi") {
                window.open("./allcity/rawalpindi.html");
            }
            if (x === "Rawalpindi") {
                window.open("./allcity/rawalpindi.html");
            }
            if (x === "Galgit") {
                window.open("./allcity/Gilgit.html");
            }
            if (x === "galgit") {
                window.open("./allcity/Gilgit.html");
            }
            if (x === "kumrat") {
                window.open("./allcity/kumrat.html");
            }
            if (x === "Kumrat") {
                window.open("./allcity/kumrat.html");
            }
            if (x === "bilochistan") {
                window.open("./allcity/Bilochistan.html");
            }
            if (x === "Bilochistan") {
                window.open("./allcity/Bilochistan.html");
            }
            if (x === "tirich mir") {
                window.open("./allcity/Tirich Mir.html");
            }
            if (x === "Tirich Mir") {
                window.open("./allcity/Tirich Mir.html");
            }
            if (x === "TirichMir") {
                window.open("./allcity/Tirich Mir.html");
            }
            if (x === "tirichmir") {
                window.open("./allcity/Tirich Mir.html");
            }
            if (x === "sandurvalley") {
                window.open("./allcity/Shandur valley.html");
            }
            if (x === "Shandar Valley") {
                window.open("./allcity/Sandur valley.html");
            }
            if (x === "Sandurvalley") {
                window.open("./allcity/Shandur valley.html");
            }
            if (x === "Nangaparbat") {
                window.open("./allcity/nangaparbat.html");
            }
            if (x === "nangaparbat") {
                window.open("./allcity/nangaparbat.html");
            }
            if (x === "Nanga parbat") {
                window.open("./allcity/nangaparbat.html");
            }
            if (x === "Nanga Parbat") {
                window.open("./allcity/nangaparbat.html");
            }
            if (x === "nanga parbat") {
                window.open("./allcity/nangaparbat.html");
            }
            if (x === "Nangaparbat") {
                window.open("./allcity/nangaparbat.html");
            }
            if (x === "muskpuri") {
                window.open("./allcity/muskpuri.html");
            }
            if (x === "Muskpuri") {
                window.open("./allcity/muskpuri.html");
            }
            if (x === "clock") {
                window.open("./allcity/clock.htm");
            }
            else {
                window.open("./allcity/pak.html");
            }

        }
    </script>
    <script>
        var x = document.getElementById("login");
        var y = document.getElementById('register');
        var z = document.getElementById('btn');
        function register() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }
        function login() {
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0px";
        }
    </script>
    <script>
        var modal = document.getElementById("login-form");
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";

            }
        }
    </script>
    <script>
        function myfun() {
            var a = document.getElementById("pass1").value;
            var b = document.getElementById("pass2").value;
            if (a == "") {
                document.getElementById("messages").innerHTML = "***plase fill password";
                return false;
            }
            if (b == "") {
                document.getElementById("messages").innerHTML = "***plase fill conform password";
                return false;
            }
            if (a.length < 5) {
                document.getElementById("messages").innerHTML = "***password lenght must =>5 charcter";
                return false;
            }
            if (a.length > 25) {
                document.getElementById("messages").innerHTML = "***password lenght must <=25 charcter";
                return false;
            }
            if (a != b) {
                document.getElementById("messages").innerHTML = "***password is not same";
                return false;
            }
        }
    </script>
    <!--End of register and loging coding-->
   
</section>
<!--End of header section-->
