
@{
    ViewBag.Title = "Kamrat";
    Layout = null;
}

<html>
<head>
    <title>Travel Kumrat Valley with us</title>
    <link rel="stylesheet" href="~/Content/Mycss/kamrat.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <section class="header">
        <div>
            <div class="container">
                <img src="~/images/icon/icons8-airplane-48.png">
                <h1 class="head"><b>Travel Kumrat With Us</b></h1>
            </div>
            <div class="center-header">
                 <img src="~/images/icon/icons8-airplane-48.png" class="icon1">
                <h1 class="head11"><b>Travel Kumrat With Us</b></h1>
                <p><span><b>Kumrat Valley</b></span> is so Valley.<span><b>Let's Visit Kumrat Valley</b></span></p>
            </div>
        </div>
    </section>
    <!--Center section start-->
    <section id="service">
        <div class="service containerh1">
            <div class="service-top">
                <h1 class="head12"><b>Kumrat Valley</b></h1>
                <p>
                    Kumrat Valley is a famous tourist destination located in the Upper Dir District of Khyber Pakhtunkhwa the
                    Province of Pakistan. Kumrat Valley is situated at a distance
                    of 370 km (230 miles) from the capital city Islamabad at an approximate
                    travel time of 8 hours and 30 minutes. The spectacular natural attractions of
                    Kumrat Valley can be reached via the alternative southern
                    route through Timergara (Dir) or via the northern route through Kalam (Swat Valley).
                    There are breathtaking lakes, soaring mountains, picturesque valleys, green lush forests, and other natural
                    attractions in Kumrat. These wonders of nature make Kumrat the most
                    beautiful place to visit on everyone’s list when they are in Khyber Pakhtunkhwa, Pakistan.
                </p>
            </div>
            </sectin


            <!--Enter of center section-->
            <!-- start of destination section-->
            <section class="features">
                <h1><span style="font-family:serif;font-size: 50px;color: green;"><b>Azad Kashmir</b> <span style="color:green;font-size:50px;"><b>Destination</b></span></span></h1>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/kumrat/4- Do Kala Chasma, Kumrat Valley, KPK.jpg">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-half-o"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>4- Do Kala Chasma, Kumrat Valley, KPK</h4>
                                    <p>
                                        Do Kala Chashma is famous for its gushing river flows in between the black mountains.
                                        This is also the reason for its name as “Do Kala Chashma.”
                                        The magnificent beauty of this place attracts tourists. It takes approximately 1.5 hours’
                                        drive to reach Kumrat as the road is rough, so better to rent a jeep and a local driver.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/kumrat/2- Wooden Canals, Thall, Kumrat Valley, KPK.jpg">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>
                                        Wooden Canals, Thall, Kumrat Valley
                                    </h4>
                                    <p>
                                        The village at the entrance to Kumrat Valley is named Thall. It's a small village in Upper Dir district, with very basic amenities.
                                        I am going to with you the complete information about the Valley and how ... Thall Mosque; Wooden Canal Thalls; Kumrat Forest; Kala Chasmah.

                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/kumrat/18- Forest Kumrat Valley,Panjkora River Upper Dir, KPKm.jpg">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Forest Kumrat Valley,Panjkora River, Kumrat Valley</h4>
                                    <p>
                                        The  Panjkora River is a river in the Khyber Pakhtunkhwa province of the northwest of Pakistan.
                                        The river runs through the mountainous northern part of the province, and forms the Kumrat Valley.
                                        It passes from Dir, Timergara and meet at Chakdara with Swat river. It generally characterized by having steep slopes on either side of the riverbank covered in thick forests.
                                        The river has a large catchment area, making the river susceptible to significant flooding -
                                        most notably during the 2010 floods that occurred throughout much of Pakistan.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End of destination section-->
</body>

