
@{
    ViewBag.Title = "karachi";
    Layout = null;
}

<html>
<head>
    <title>Travel karachi with us</title>
    <link href="~/Content/Mycss/Karachi.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <section class="header">
        <div>
            <div class="container">
                <img src="~/images/icon/icons8-airplane-48.png">
                <h1 class="head"><b>Travel Karachi With Us</b></h1>
            </div>
            <div class="center-header">
                <img src="~/images/icon/icons8-airplane-48.png" class="icon1">
                <h1 class="head11"><b>Travel Karachi With Us</b></h1>
                <p><span><b>Karachi</b></span> is so Beautiful City.<span><b>Let's Visit Karachi</b></span></p>
            </div>
        </div>
    </section>
    <!--Center section start-->
    <section id="service">
        <div class="service containerh1">
            <div class="service-top">
                <h1 class="head12"><b>Karachi City</b></h1>
                <p>
                    Karachi, city and capital of Sindh province, southern Pakistan. It is the country’
                    s largest city and principal seaport and is a major commercial and industrial centre.
                    Karachi is located on the coast of the Arabian Sea immediately northwest of the Indus River delta.
                    The city has been variously called Caranjee, Crochey, Krotchey, Currachee, and Kurrachee, all of which are believed to be variants of the same name. In the 18th century it was known as Kalachi-jo-Goth,meaning “the village of Kalachi” (Kalachi being the name of an erstwhile head of the settlement).

                    The impetus to Karachi development originally came from its role as the port serving
                    the Indus River valley and the Punjab region of British India.
                    The development of air travel subsequently increased Karachi importance.
                    It is also the port serving the landlocked country of Afghanistan.
                    Area city, 228 square miles (591 square km); Greater Karachi, 560 square miles (1,450 square km). Pop.
                    (2017) city, 14,916,456; (2018 est.) urban agglom., 15,400,000.

                    Karachi offers a remarkable variety of attractions and activities  from sunny,
                    sandy beaches and scurf-infested old colonial buildings,
                    still preserved and in some cases inhabited,
                    to traditional bazaars and modern shopping malls. Upscale luxury hotels overlook
                    modish restaurants with flavors from all over the nation and much of the world.
                    They make the city a hot¬spot for local and tourist activity.

                </p>
            </div>
            </sectin


            <!--Enter of center section-->
            <!-- start of destination section-->
            <section class="features">
                <h1><span style="font-family: serif;font-size: 50px;color: green;"><b>Karachi</b> <span style="color:green;font-size:50px;"><b>Destination</b></span></span></h1>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/karachi/Quaid-e-Azam House Museum.jpg">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-half-o"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Churna Island and its water sports</h4>
                                    <p>
                                        If you love all things sea, then Churna Island,
                                        which is only a two-hour drive away from central Karachi, is a must-visit.
                                        Here is where you can swim, snorkel and
                                        scuba dive around the island’s reef and gaze at a multitude of sea creatures,
                                        from fish to snakes and turtles that inhabit its warm waters.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/karachi/Mohatta Palace.jpg">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Mohatta Palace</h4>
                                    <p>
                                        Art, architecture and culture come to play at this 20th-century palace built by a Hindu Prince in 1925.
                                        Used today as an art gallery and museum, there are always thought-provoking exhibitions
                                        happening at this grand building surrounded by trees and Renaissance-style statues.
                                        The Rajasthani-style design of this structure is a sight to behold.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/karachi/karachiindustry.jpg" />

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Quaid House Museum</h4>
                                    <p>
                                        Being the founder of the nation, Quaid-e-Azam’s personal history and
                                        life wholly meshed with the history of the country itself.
                                        Visit this museum to embark on that quest or
                                        to admire the colonial building and the peaceful gardens around it.

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End of destination section-->
</body>

