
@{
    ViewBag.Title = "Lahore";
    Layout = null;

}
<html>
<head>
    <title>Travel Lahore with us</title>
    <link rel="stylesheet" href="~/Content/Mycss/Lahore.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <section class="header">
        <div>
            <div class="container">
                <img src="~/images/icon/icons8-airplane-48.png">
                <h1 class="head"><b>Travel Lahore With Us</b></h1>
            </div>
            <div class="center-header">
                <img src="~/images/icon/icons8-airplane-48.png" class="icon1">
                <h1 class="head11"><b>Travel Lahore With Us</b></h1>
                <p><span><b>Lahore</b></span> is so Beautiful City.<span><b>Let's Visit Lahore</b></span></p>
            </div>
        </div>
    </section>
    <!--Center section start-->
    <section id="service">
        <div class="service containerh1">
            <div class="service-top">
                <h1 class="head12"><b>Lahore City</b></h1>
                <p>
                    Lahore city has had a turbulent history. It was the capital of the Ghaznavid dynasty from 1163 to 1186.
                    A Mongol army sacked Lahore in 1241.
                    During the 14th century the city was repeatedly attacked by the Mongols until 1398,
                    when it fell under the control of the Turkic conqueror Timur.
                    In 1524 it was captured by the Mughal Bābur’s troops.
                    This marked the beginning of Lahore’s golden age under the Mughal dynasty,
                    when the city was often the place of royal residence.
                    It was greatly expanded during the reign of Shāh Jahān (1628–58)
                    but declined in importance during the reign of his successor, Aurangzeb.
                    Lahore exerts a strong cultural influence over Pakistan.[15] It is a UNESCO City of Literature and
                    major center for Pakistan's publishing industry;
                    Lahore remains the foremost center of Pakistan's literary scene.
                    The city is also a major centre of education in Pakistan,
                    with some of Pakistan's leading universities based in the city. For many years, Lahore was
                    home to Pakistan's film industry, Lollywood, though in recent years most
                    filming has shifted to Karachi. Lahore is a major centre of Qawwali music.
                    The city also hosts much of Pakistan's tourist industry, with
                    major attractions including the Walled City, the famous Badshahi and
                    Wazir Khan mosques, as well as several Sikh and Sufi shrines.
                    Lahore is also home to the Lahore Fort and Shalimar Gardens,
                    both of which are UNESCO World Heritage Sites.
                </p>

            </div>
            </sectin


            <!--Enter of center section-->
            <!-- start of destination section-->
            <section class="features">
                <h1><span style="font-family:serif;font-size: 50px;color: green;"><b>Lahore</b> <span style="color:green;font-size:50px;"><b>Destination</b></span></span></h1>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/lahore/shalimar garden.jpg">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-half-o"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Jahāngīr tomb</h4>
                                    <p>
                                        Tomb of Jahāngīr, Mughal emperor of India from 1605 to 1627,
                                        built by his son Shah Jahān 10 years after Jahāngīr's death, Lahore, Pakistan.

                                        An important educational centre, Lahore is the seat of the University of the Punjab (1882), which is the oldest university in Pakistan. Near the university is the Lahore Museum (1864), which houses eclectic collections of art and historical items. The University of Engineering and Technology, Lahore (1961),
                                        and numerous other colleges and institutes also are located in the city.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/lahore/lahore museum.jpg">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Lahore Museum</h4>
                                    <p>
                                        Lahore is a leading commercial, banking, and industrial centre.
                                        Textiles are the single most important industry,
                                        but there are many rubber factories, as well as iron, steel, and other mills.
                                        Lahore Museum that gives you the glimpse of museum’s rich and unique collection.
                                        The museum offers the chronological display of selected art objects in the galleries on two floors.

                                        The museum’s total collection is around 60,000 artefacts. The Lahore Museum is the oldest and the largest Museum in Pakistan.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/lahore/Alamgiri gate.jpg" />

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Shalamar Gardens</h4>
                                    <p>
                                        The Shalimar Gardens (romanized: Shālāmār Bāgh) are a Mughal garden complex located in Lahore, Pakistan.
                                        The gardens date from the period when the Mughal Empire was at its artistic and aesthetic zenith,
                                        and are now one of Pakistan's most popular tourist destinations.

                                        The Shalimar Gardens were laid out as a Persian paradise garden intended to create a representation of an
                                        earthly utopia in which humans co-exist in perfect harmony with all elements of nature.
                                        Construction of the gardens began in 1641
                                        during the reign of Emperor Shah Jahan, and was completed in 1642.

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End of destination section-->
</body>

