
@{
    ViewBag.Title = "Swat";
    Layout = null;
}
<html>
<head>
    <title>Travel Swat with us</title>
    <link rel="stylesheet" href="~/Content/Mycss/swat.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <section class="header">
        <div>
            <div class="container">
                <img src="~/images/icon/icons8-airplane-48.png">
                <h1 class="head"><b>Travel Swat With Us</b></h1>
            </div>
            <div class="center-header">
                <img src="~/images/icon/icons8-airplane-48.png" class="icon1">
                <h1 class="head11"><b>Travel Swat Valley With Us</b></h1>
                <p><span><b>Swat</b></span> is so Valley.<span><b>Let's Visit Swat valley</b></span></p>
            </div>
        </div>
    </section>
    <!--Center section start-->
    <section id="service">
        <div class="service containerh1">
            <div class="service-top">
                <h1 class="head12"><b>Swat Valley</b></h1>
                <p>
                    Swat Valley (Swat) is known as the Switzerland of Pakistan because of its snow-capped mountains and beautiful scenery. Once a Taliban stronghold,
                    there was not peace in the Valley until the Pakistan military forces conducted
                    special operations and purified the whole area. Now it is completely peaceful,
                    safe and one of the most popular tourism sites in the country for locals and foreigners.
                    Swat was merged into Pakistan when it was established as a country in 1947 after the United Kingdom agreed to a partition from India. However, Swat remained an autonomous state until 1969, when it was fully integrated into the country.
                    The territory of Swat begins at the confluence of the rivers Swat and Panjkora and is situated at an altitude of two thousand feet. Geographically, the city can be divided into two phases:
                    Swat Kohistan, which is the mountainous area, and Swat Khas,
                    which is further divided into two parts, Bar (upper land) and Kuz (lower land).
                    Alongside its prominent location, the Swat Valley is full of majestic natural landscapes,
                    icy and lofty mountains, lush and vast plains, cold breeze rising from the river Swat,
                    gardens of fragrant flowers and delicious fruit, springs, high waterfalls, dazzling lakes, and glaciers.

                </p>
            </div>
            </div>
            </section>
    

            <!--Enter of center section-->
            <!-- start of destination section-->
            <section class="features">
                <h1><span style="font-family:serif;font-size: 50px;color: green;"><b>Swat</b> <span style="color:green;font-size:50px;"><b>Destination</b></span></span></h1>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/swat/Kalam-Valley.jpg">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-half-o"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Kalam Valley</h4>
                                    <p>
                                        First and foremost is the Kalam Valley which is located at a distance of 99 km away from the Swat Valley. The fluvial river of Swat encircled the whole valley along with the richly green hills.
                                        The Kalam Valley capture millions of tourist to its lap. Some of the notable place to visit within Kalam is of Matiltan, Usho, Utror, and Gabral, each has its own significance. With the cool and pleasant weather with panoramic locations, Kalam makes a perfect combination for the tourist.

                                        The best time to visit Kalam valley is from April to September and winters can be really harsh here.
                                        Furthermore, the valley the perfect to visit while exploring the beauties of Swat and tourist love to do fishing,
                                        hiking in its enchanting sceneries.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/swat/Madyan.jpg">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Madyan</h4>
                                    <p>
                                        One of the most popular hill stations of Swat is Madyan. The hill station is preferable for the tourist because of the Swat River and its surrounding. The whole area offers panoramic views of the valley along with a pleasant atmosphere. Tourist love to visit Madyan because of its delicious
                                        mouthwatering trout fish and amazing weather even in hot summer. The fluvial Swat River
                                        capture more of the tourist to this hill station. Several hotels serve their lavish services in Madyan.

                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="feature-box">
                                <div class="feature-img">
                                    <img src="~/images/allcity/swat/Mahodand-Lake.jpg">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>

                                    </div>
                                </div>
                                <div class="feature-details">
                                    <h4>Mahudand Lake</h4>
                                    <p>
                                        Mahudand Lake is also a must-visit place in Swat valley, The glacial alpine lake is located in the Usho Valley of Kalam. The richly green meadows encircled the lake at an elevation of 9,603 ft. the immense Hindu Kush peaks
                                        provide a complete backdrop with green meadows for the tourist for camping.
                                        The best time to visit the lake in midsummer because the lake is frozen in winter and
                                        inaccessible due to road blockage. Above all, here you will find different
                                        species of flora and fauna with enormous fishes. No doubt, the best place for allocating a whole day.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End of destination section-->
</body>
</html>